*{
	box-sizing: border-box;
}

.promo{
	height: 100vh;
	min-height: 320px;
	border-top: 10px solid #2DCC70;
	background: url(../images/promo-bg.jpg) no-repeat center;
	background-size: cover;
	position: relative;
	overflow: hidden;
}

.promo__inner{
	position: absolute;
	bottom: -80px;
	left: 50%;
	background: url(../images/hand.png) center no-repeat;
	height: 507px;
	width: 435px;
	text-align: center;
	margin-left: -149px;

}
.promo__logo{
	position: absolute;
	top: 75px;
	left: 69px;

	display: block;
	width: 160px;
	vertical-align: bottom;
}
.promo__logo img{
	width: 100%;
	max-width: 130px;
	vertical-align: bottom;
}

.promo__text {
    position: absolute;
    top: 160px;
    left: 69px;
    width: 160px;
    margin: 0;
    color: #fff;
    font-size: 14px;
    text-shadow: 0px 0px 10px #000;    
 }

.promo__links{
	position: absolute;
    top: 260px;
    left: 69px;
    width: 160px;
    
}

.promo__link{
	text-align: center;
	display: inline-block;
	width: 40px;
	line-height: 40px;
	border-radius: 40px;
	background: rgba(0,0,0,.5);
	color: #fff;
	transition: background .4s;

}
.promo__link:hover{
	background: #2DCC70;
}

@media screen and (max-width: 767px) and (min-height: 568px) and (orientation:portrait)
{
       .promo__inner{
       	bottom: -45px;
       }
}

@media screen and (max-width: 767px) and (min-height: 667px) and (orientation:portrait)
{
       .promo__inner{
       	bottom: 0px;
       }
}

@media screen and (max-width: 767px) and (orientation:landscape)
{
       .promo__inner{
       	bottom: -115px;
       }
}

@media screen and (max-width: 667px) and (orientation:landscape)
{
       .promo__inner{
       	bottom: -130px;
       }
}

@media screen and (max-width: 568px) and (orientation:landscape)
{
       .promo__inner{
       	bottom: -150px;
       }
}

@media screen and (min-width: 768px)
{
	.promo{
		max-height: 600px;
	}
	.promo__inner{
		bottom: 0;
	}
}

@media screen and (min-width: 992px)
{
	.promo__inner{
		height: 100%;
		width: 100%;
		max-width: 1000px;
		background-position: right bottom;
		position: relative;
		margin: 0 auto;
		left: initial;
		bottom: initial;
		text-align: left;
	}
	.promo__logo{
		top: 160px;
		left: 7px;
	}
	.promo__logo img{
		width: auto;
		max-width: 400px;
	}
	.promo__text{
		left: 15px;
		top: 275px;
		font-size: 24px;
		width: 480px;
	}
	.promo__links{
		top: 375px;
	    left: 15px;
	    width: 480px;
	}

	.promo__link{
		width: 60px;
		line-height: 60px;
		border-radius: 60px;
		font-size: 24px;
		background: #000;
		transition: background .4s, opacity .8s;
		opacity: .5;
		margin-right: 10px;
	}
	.promo__link:hover{
		opacity: 1;
	}
}